# Ignore node_modules and other build folders
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-debug.log
.DS_Store
*.log
*.tsbuildinfo
.nuxt

*Dockerfile*
*docker-compose*

# Ignore local environment files
.env
.env.*.local

# Ignore lockfiles for specific package managers (if not needed in your Docker image)
yarn.lock
pnpm-lock.yaml
# Uncomment if you're not using package-lock.json
# package-lock.json

# Ignore build files and editor settings
*.swp
*.swo
.idea
*.iml
.vscode
.cache

# Ignore build artifacts
*.build/
.dist
dist
obj
.output

# Optional: Ignore test-related files and directories
__tests__/
coverage/
test/

# Ignore docker-compose override files, used for local dev overrides
docker-compose.override.yml
